@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.topheader{background: #eaefff; color: #0c3e72;}

.containertop{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    font-size: 0.8em;
}

.active{color: #fe5c24;}
.top1 p, .top2 p, .top2 i{transition: 0.3s;}
.top1 p:hover, .top2 p:hover, .top2 i:hover{color: #fe5c24;}
.top1, .top2{display: flex; gap: 20px;}
.headerpc{display: none;}

.containerheadmobile{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    color: #0c3e72;
}

.containerheadmobile i{
    font-size: 30px;
    cursor: pointer;
}

.navmenu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #0c3e72;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ;
}
.navmenu .fa-times {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
}
.navmenu ul {
    list-style: none;
    text-align: center;
}
.navmenu ul li {
    padding: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}
.navmenu ul li:hover {
    color: #fe5c24;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://preview.colorlib.com/theme/martine/img/banner_bg.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.banner h1{font-size: 2em;}
.banner p{font-size: 1em; margin-bottom: 20px;}
.banner button{
    padding: 20px 60px;
    border: none;
    background: #2493e0;
    color: #fff;
    transition: 0.5s;
}
.banner button:hover{background: #fe5c24; cursor: pointer;}

.seaction{
    position: absolute;
    width: 90%;
    transform: translate(-50%, 50%);
    top: 90%;
    left: 50%;
}

.containerseaction{
    max-width: 1040px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
    color: #0c3e72;
    background: #fff;
}

.form *{margin-bottom: 10px; margin-right: 10px;}

.form input, .form select{
    padding: 10px 30px;
    width: 100%;
    color: #2493e0;
    border: 1px solid #2493e0;
    outline: none;
}

.form button{
    padding: 10px 20px;
    border: none;
    background: #fe5c24;
    color: #fff;
    display: block;
    transition: 0.5s;
}

.form button:hover{background: #2493e0; cursor: pointer;}
.tp{display: flex; gap: 30px;margin-bottom: 10px;}
.tp p{color: #0c3e72; transition: 0.3s;}
.tp p:hover{color: #fe5c24;}
.form{display: flex; flex-wrap: wrap;}

.section1{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.section1txt h1{font-size: 2.5em; color: #0c3e72;}
.section1txt *{padding: 10px 0;}
.section1txt{
    margin: auto;
    text-align: center;
    max-width: 450px;
}

.cards1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 40px 20px;
    gap: 20px;
}

.card1{position: relative; max-width: 550px;}
.card1 img{width: 100%; display: block;}

.card1ho button{
    border: none;
    padding: 10px 20px;
    background: #fe5c24;
    color: #fff;
}

.card1ho button{background: #2493e0;}
.card1ho h3{margin-top: 10px;}

.card1ho{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 78, 121, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px ;
    opacity: 0;
    transition: 0.8s;
    color: #fff;
}

.card1ho:hover{opacity: 1; cursor: pointer;}

#dis{
    padding: 20px 40px;
    background: #fe5c24;
    color: #fff;
    border: none;
    transition: 0.5s;
}

#dis:hover{background: #2493e0; cursor: pointer;}

.slider-section {
    background: url('https://preview.colorlib.com/theme/martine/img/event_bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
}

.swiper-slide{cursor: grab;}
.swiper-slide:active{cursor: grabbing;}

.slidercard{
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 40px;
    color: #0c3e72;
}

.slidercard *{padding: 5px 0;}
.slidercard span{color: #0c3e72;}
.slidercard p{color: #a2a2a2;}
.slidercard h2{font-size: 2em; margin-bottom: 15px;}
.slidercard p{margin-bottom: 10px;}

.slidercard button{
    padding: 15px 30px;
    border: none;
    background: #fe5c24;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.slidercard button:hover{background: #2493e0; cursor: pointer;}
.swiper-button-next, .swiper-button-prev{color: #fe5c24;}
.section2{padding: 100px 0;}
.section2txt *{padding: 10px 0;}
.section2txt h1{font-size: 2.5em; color: #0c3e72;}

.section2txt{
    margin: auto;
    text-align: center;
    max-width: 500px;
    padding: 0 0 20px 0;
}

.cards2{
    display: flex;
    max-width: 1200px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
}

.card2txt *{padding: 5px 0;}
.card2txt span{color: #fe5c24;}
#boz{color: #a2a2a2;}
.card2txt h3{padding-top: 20px; color: #0c3e72; font-weight: normal; font-size: 1.5em;}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    margin: auto;
    border-bottom: 1px solid #a2a2a2;
    transition: 0.5s;
    img{object-fit: cover; width: 300px;}
}

.slider2-section-wrapper{background: #0c3e72; padding: 100px 0;}

.slider2{
    position: relative;
    color: #fff;
    max-width: 1200px;
    margin: auto;
}

.slider2 h1{font-size: 2.5em; color: #fff;}

.slider2txt{
    text-align: left;
    padding-bottom: 50px;
    padding-left: 30px;
    color: #fff;
}

.slider2card{
    margin: auto 50px auto;
    max-width: 300px;
    background: #0e477d;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider2card h5{margin-top: 20px;}

.section3{
    margin: auto;
    max-width: 1200px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section3txt{
    max-width: 500px;
    padding: 20px 0;
    text-align: center;
}

.section3txt h1{font-size: 2.5em; color: #0c3e72; padding-bottom: 10px;}

.cards3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 0;
}

.card3 h2{color: #0c3e72;}

.footertop{
    background-color: #162b45;
    color: #fff;
    padding: 80px 20px;
}

.containerfooter {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.foot{max-width: 300px;}
.foot h3{margin-bottom: 25px;}
.foot ul{list-style: none; padding: 0;}
.foot ul li{margin-bottom: 15px;}
.foot ul li a{color: #a2a2a2; text-decoration: none; transition: 0.3s;}
.foot ul li a:hover{color: #fe5c24;}
.foot p{color: #a2a2a2;}

.footmail{
    color: #fe5c24;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.3s;
}

.icons{margin-top: 20px; display: flex; gap: 15px;}
.icons a {color: #fff; font-size: 1em; transition: 0.3s;}
.icons a:hover{color: #fe5c24;}

.footerbottom{
    background-color: #08223a;
    color: #a2a2a2;
    padding: 30px 20px;
    text-align: center;
}

.form2{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

#form{
    width: 250px;
    height: 50px;
    background: #0E477D;
    border: none;
    padding-left: 10px;
}

#btn{
    width: 50px;
    height: 50px;
    background: #FE5C24;
    border: none;
    color: #fff;
}

.footerbottom a, .fa-heart{color: #fe5c24; text-decoration: none;}

@media only screen and (min-width:768px){
    .headerpc {display: block;}
    .headermobile {display: none;}

    .containertop{justify-content: space-between;}
    .containertop{font-size: 1em;}

    .containerheadpc{
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 20px 10px;
        color: #0c3e72;
    }

    .list ul{display: flex; list-style: none; gap: 20px;}
    .list ul li{transition: 0.3s;}
    .list ul li:hover{color: #fe5c24; cursor: pointer;}

    .booknow button{
        padding: 20px 30px;
        border: none;
        background: #fe5c24;
        text-align: center;
        color: #fff;
        transition: 0.5s;
    }

    .booknow button:hover{background: #2493e0; cursor: pointer;}

    .banner{
        h1{font-size: 110px}
        p{font-size: 1.5em; margin-bottom: 20px;}
    }

    .seaction{
        position: absolute;
        width: 90%;
        transform: translate(-50%, 50%);
        top: 100%;
        left: 50%;
    }

    .section1txt{max-width: 800px;}

    .form input, .form select{
        padding: 10px ;
        width: 200px;
        color: #2493e0;
        border: 1px solid #2493e0;
        outline: none;
    }
    
    .form button{display: inline;}

    .slider {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-20%, -50%);
        max-width: 450px;
    }

    .slidercard{margin: 0;}
    .section1{max-width: 1200px; margin: 160px auto 50px auto;}
    .cards1{flex-direction: row; flex-wrap: wrap;}
    .card1{position: relative; max-width: 550px;} 
    .section2txt{max-width: 800px;}
    .card2 img{transition: 0.5s;}
    .card2:hover{scale: 1.05; }
    .card2:hover img{transform: rotate(3deg);}
    .slider2txt{padding-bottom: 60px; max-width: 1200px; margin: auto; }
    .card3{transition: 0.5s;}
    .card3:hover{transform: scale(1.1) rotate(1deg);}
}